replicaCount: 1

namespace: helm

image:
  repository: nginx
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

resources:
   limits:
     cpu: 200m
     memory: 256Mi
   requests:
     cpu: 100m
     memory: 128Mi

appPort: 80
